In [21]:
people={
    'first':['aravind','rahul','jake','adam'],
    'last':['reddy','reddy','chris','doe'],
    'email':['malluriaravindreddy@gmail.com','rahul16@gmail.com','jakechris@gmail.com','adam@gmail.com']
}

In [22]:
import pandas as pd

In [23]:
df=pd.DataFrame(people)

In [24]:
df

     first   last                          email
0  aravind  reddy  malluriaravindreddy@gmail.com
1    rahul  reddy              rahul16@gmail.com
2     jake  chris            jakechris@gmail.com
3     adam    doe                 adam@gmail.com

In [25]:
#how to sort columns 
#sort the values by last name by using sort_value method
df.sort_values(by='last')

     first   last                          email
2     jake  chris            jakechris@gmail.com
3     adam    doe                 adam@gmail.com
0  aravind  reddy  malluriaravindreddy@gmail.com
1    rahul  reddy              rahul16@gmail.com

In [26]:
# if we want to sort this in descending order use ascending=False
df.sort_values(by='last',ascending=False)

     first   last                          email
0  aravind  reddy  malluriaravindreddy@gmail.com
1    rahul  reddy              rahul16@gmail.com
3     adam    doe                 adam@gmail.com
2     jake  chris            jakechris@gmail.com

In [27]:
# if we want to sort on multiple columns
df.sort_values(by=['last','first'])

     first   last                          email
2     jake  chris            jakechris@gmail.com
3     adam    doe                 adam@gmail.com
0  aravind  reddy  malluriaravindreddy@gmail.com
1    rahul  reddy              rahul16@gmail.com

In [30]:
# if we want to sort lastname in desceding order and first name in ascending order
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True)

In [31]:
df

     first   last                          email
0  aravind  reddy  malluriaravindreddy@gmail.com
1    rahul  reddy              rahul16@gmail.com
3     adam    doe                 adam@gmail.com
2     jake  chris            jakechris@gmail.com

In [34]:
#if we want the previous dataframe or sort the indexes by ascending order
df.sort_index()

     first   last                          email
0  aravind  reddy  malluriaravindreddy@gmail.com
1    rahul  reddy              rahul16@gmail.com
2     jake  chris            jakechris@gmail.com
3     adam    doe                 adam@gmail.com

In [35]:
# series objects also have the sort() method
# if we want to see simply the last name not entire dataframe
df['last'].sort_values()

2    chris
3      doe
0    reddy
1    reddy
Name: last, dtype: object

In [36]:
import pandas as pd

In [37]:
df=pd.read_csv('Desktop/data/survey_results_public.csv',index_col='Respondent')
schema=pd.read_csv('Desktop/data/survey_results_schema.csv',index_col='Column')

In [38]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [42]:
# sort the values by using country column
df.sort_values(by='Country',inplace=True)

In [43]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
8631,I am a student who is learning to code,No,NaN,19,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Spring,Angular.js,Somewhat more welcome now than last year,NaN,3,NaN
26594,I am a student who is learning to code,Yes,22.0,19,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Difficult,Appropriate in length,No,NaN,Django;jQuery;Laravel;Vue.js,Laravel,A lot more welcome now than last year,NaN,3,NaN
5972,I am a student who is learning to code,Yes,NaN,21,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Too short,No,"Computer science, computer engineering, or sof...",NaN,Angular,A lot more welcome now than last year,NaN,4,NaN
30522,I am a developer by profession,Yes,23.0,19,Monthly,30000.0,4668.0,Afghanistan,Afghan afghani,AFN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Symfony;Vue.js,Angular;ASP.NET;jQuery;Laravel,Somewhat more welcome now than last year,48.0,5,3
7710,I code primarily as a hobby,Yes,23.0,21,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Too long,NaN,NaN,Django;jQuery;Laravel;Vue.js,NaN,NaN,NaN,NaN,NaN
26623,I am a student who is learning to code,No,22.0,19,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Easy,Appropriate in length,No,Web development or web design,Angular,NaN,A lot more welcome now than last year,NaN,2,NaN
9617,I am a student who is learning to code,Yes,NaN,14,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",Django;Flask,NaN,Just as welcome now as I felt last year,NaN,2,NaN
55232,I am a developer by profession,Yes,28.0,19,Monthly,NaN,NaN,Afghanistan,Afghan afghani,AFN,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Django;React.js,Angular;ASP.NET;ASP.NET Core;jQuery,A lot more welcome now than last year,NaN,10,6
28811,I am a developer by profession,Yes,23.0,19,Yearly,348000.0,4509.0,Afghanistan,Afghan afghani,AFN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular.js;ASP.NET Core;jQuery;Laravel;React.j...,jQuery;Laravel,Somewhat more welcome now than last year,43.0,2,1
8856,I am a student who is learning to code,Yes,NaN,20,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,ASP.NET,NaN,A lot less welcome now than last year,NaN,3,NaN
39582,I am a developer by profession,No,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26540,I am a developer by profession,No,26.0,20,Monthly,90000.0,13992.0,Afghanistan,Afghan afghani,AFN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Drupal;React.js;Vue.js,Angular;Express;jQuery;Laravel,Somewhat more welcome now than last year,48.0,6,3
30568,I am a developer by profession,No,24.0,19,Monthly,35000.0,5448.0,Afghanistan,Afghan afghani,AFN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Vue.js,jQuery,Somewhat more welcome now than last year,45.0,6,3
39217,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26775,I am a developer by profession,Yes,23.0,18,Monthly,1000.0,8016.0,Afghanistan,Australian dollar,AUD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core,jQuery;Laravel,A lot more welcome now than last year,35.0,3,Less than 1 year
30608,"I used to be a developer by profession, but no...",Yes,20.0,11,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular,ASP.NET;Django;jQuery;Laravel,Somewhat less welcome now than last year,NaN,7,2
51683,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45409,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18049,I am a developer by profession,Yes,NaN,15,Yearly,12345.0,109.0,Afghanistan,Albanian lek,ALL,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot less welcome now than last year,NaN,NaN,34
36423,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40349,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31317,I am a student who is learning to code,Yes,22.0,18,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,ASP.NET;jQuery;Laravel,Just as welcome now as I felt last year,NaN,4,NaN
43476,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,Laravel;Ruby on Rails,Laravel;Ruby on Rails,Just as welcome now as I felt last year,NaN,NaN,NaN
63514,"I used to be a developer by profession, but no...",Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular,Angular,NaN,NaN,NaN,NaN
10350,I am a student who is learning to code,No,20.0,17,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,NaN,3,NaN
43183,I am a student who is learning to code,Yes,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34969,I am a developer by profession,Yes,15.0,16,Monthly,28000.0,4356.0,Afghanistan,Afghan afghani,AFN,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;Vue.js,ASP.NET;ASP.NET Core;Django;jQuery;Laravel,A lot more welcome now than last year,48.0,4,3
62788,I am a developer by profession,Yes,NaN,NaN,Weekly,8000000.0,1000000.0,Afghanistan,Albanian lek,ALL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44484,I am a developer by profession,Yes,NaN,18,Monthly,120000.0,18660.0,Afghanistan,Afghan afghani,AFN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,60.0,8,10
52876,I am a student who is learning to code,Yes,25.0,18,NaN,NaN,NaN,Afghanistan,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Angular.js;ASP.NET Core;jQuery;React.js,ASP.NET;jQuery,A lot more welcome now than last year,NaN,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34827,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35643,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36113,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36448,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40550,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41922,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42026,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42825,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43177,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44670,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44891,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46810,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51650,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51958,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53347,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54379,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54654,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55156,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55162,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55314,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55417,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56415,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57583,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58915,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59962,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60055,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61121,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61570,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61918,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62605,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df[['Country','ConvertedComp']].head(50)

                Country  ConvertedComp
Respondent
8631        Afghanistan            NaN
26594       Afghanistan            NaN
5972        Afghanistan            NaN
30522       Afghanistan         4668.0
7710        Afghanistan            NaN
26623       Afghanistan            NaN
9617        Afghanistan            NaN
55232       Afghanistan            NaN
28811       Afghanistan         4509.0
8856        Afghanistan            NaN
39582       Afghanistan            NaN
26540       Afghanistan        13992.0
30568       Afghanistan         5448.0
39217       Afghanistan            NaN
26775       Afghanistan         8016.0
30608       Afghanistan            NaN
51683       Afghanistan            NaN
45409       Afghanistan            NaN
18049       Afghanistan          109.0
36423       Afghanistan            NaN
40349       Afghanistan            NaN
31317       Afghanistan            NaN
43476       Afghanistan            NaN
63514       Afghanistan            NaN
10350       Afghanistan            NaN
43183       Afghanistan            NaN
34969       Afghanistan         4356.0
62788       Afghanistan      1000000.0
44484       Afghanistan        18660.0
52876       Afghanistan            NaN
29893       Afghanistan            NaN
26857       Afghanistan         2328.0
45973       Afghanistan            NaN
57632       Afghanistan            NaN
63532       Afghanistan            NaN
11353       Afghanistan            NaN
9486        Afghanistan            NaN
62950       Afghanistan            NaN
35295       Afghanistan            0.0
24215       Afghanistan            NaN
63499       Afghanistan            NaN
57269       Afghanistan        10884.0
37698       Afghanistan            NaN
37601       Afghanistan            NaN
44555       Afghanistan            NaN
37159       Afghanistan            NaN
43808       Afghanistan            NaN
35753       Afghanistan          780.0
38672       Afghanistan       231192.0
65381       Afghanistan      1000000.0

In [51]:
df.sort_values(by=['Country','ConvertedComp'],ascending=[True,False],inplace=True)

In [53]:
df[['Country','ConvertedComp']].head(50)

                Country  ConvertedComp
Respondent
62788       Afghanistan      1000000.0
65381       Afghanistan      1000000.0
65456       Afghanistan      1000000.0
38672       Afghanistan       231192.0
28374       Afghanistan       130000.0
9839        Afghanistan        23328.0
63848       Afghanistan        23328.0
51862       Afghanistan        20950.0
51509       Afghanistan        20220.0
44484       Afghanistan        18660.0
15422       Afghanistan        18000.0
2932        Afghanistan        16335.0
26540       Afghanistan        13992.0
57269       Afghanistan        10884.0
26775       Afghanistan         8016.0
30568       Afghanistan         5448.0
30522       Afghanistan         4668.0
28811       Afghanistan         4509.0
34969       Afghanistan         4356.0
26857       Afghanistan         2328.0
33878       Afghanistan         1860.0
35753       Afghanistan          780.0
18049       Afghanistan          109.0
35295       Afghanistan            0.0
8631        Afghanistan            NaN
26594       Afghanistan            NaN
5972        Afghanistan            NaN
7710        Afghanistan            NaN
26623       Afghanistan            NaN
9617        Afghanistan            NaN
55232       Afghanistan            NaN
8856        Afghanistan            NaN
39582       Afghanistan            NaN
39217       Afghanistan            NaN
30608       Afghanistan            NaN
51683       Afghanistan            NaN
45409       Afghanistan            NaN
36423       Afghanistan            NaN
40349       Afghanistan            NaN
31317       Afghanistan            NaN
43476       Afghanistan            NaN
63514       Afghanistan            NaN
10350       Afghanistan            NaN
43183       Afghanistan            NaN
52876       Afghanistan            NaN
29893       Afghanistan            NaN
45973       Afghanistan            NaN
57632       Afghanistan            NaN
63532       Afghanistan            NaN
11353       Afghanistan            NaN

In [60]:
df['ConvertedComp'].nlargest(10)

Respondent
5725     2000000.0
54263    2000000.0
43430    2000000.0
59279    2000000.0
46711    2000000.0
44313    2000000.0
35635    2000000.0
34732    2000000.0
35767    2000000.0
34610    2000000.0
Name: ConvertedComp, dtype: float64

In [61]:
df['ConvertedComp'].nsmallest(10)

Respondent
35295    0.0
47357    0.0
6054     0.0
27135    0.0
60292    0.0
38813    0.0
8470     0.0
41006    0.0
57369    0.0
15493    0.0
Name: ConvertedComp, dtype: float64

In [62]:
df.nsmallest(10,'ConvertedComp')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
35295,I am a developer by profession,Yes,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,...,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
47357,I am a developer by profession,Yes,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,...,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
6054,I am a developer by profession,Yes,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
27135,I am a developer by profession,No,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
60292,I am a developer by profession,Yes,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10
38813,I am a developer by profession,No,NaN,18,Monthly,0.0,0.0,Azerbaijan,Azerbaijan manat,AZN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,4,3
8470,I am a developer by profession,Yes,NaN,5,Monthly,30.0,0.0,Bangladesh,Bangladeshi taka,BDT,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Laravel;React.js;Vue.js,Django;Express;Gatsby;Laravel;React.js;Vue.js,NaN,NaN,4,2
41006,I am a developer by profession,Yes,22.0,17,Yearly,0.0,0.0,Belgium,Pound sterling,GBP,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,Angular;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,30.0,4,3
57369,I am a developer by profession,No,44.0,18,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Too long,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,5
15493,I am a developer by profession,No,44.0,17,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,4

In [63]:
df.nlargest(10,'ConvertedComp')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
5725,I am a developer by profession,No,26.0,14,Monthly,1.800000e+05,2000000.0,Canada,United States dollar,USD,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Gatsby,Spring,Not applicable - I did not use Stack Overflow ...,40.0,10,4
54263,I am a developer by profession,Yes,29.0,10,Weekly,7.000000e+04,2000000.0,Canada,United States dollar,USD,...,Neither easy nor difficult,Too long,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,Express;Flask;jQuery,Just as welcome now as I felt last year,36.0,14,5
43430,I am a developer by profession,Yes,33.0,17,Monthly,1.710000e+05,2000000.0,Italy,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,40.0,13,2
59279,I am a developer by profession,Yes,NaN,12,Monthly,3.000000e+05,2000000.0,Nepal,United States dollar,USD,...,Neither easy nor difficult,Too long,NaN,"Computer science, computer engineering, or sof...",Django;Drupal;Flask;Gatsby;Laravel,Angular;Angular.js;ASP.NET;ASP.NET Core;Expres...,A lot more welcome now than last year,40.0,20,14
46711,I am a developer by profession,Yes,NaN,Younger than 5 years,Yearly,1.000000e+56,2000000.0,Nomadic,United States dollar,USD,...,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,NaN,168.0,More than 50 years,More than 50 years
44313,"I am not primarily a developer, but I write co...",Yes,40.0,24,Weekly,1.400000e+05,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"A social science (such as anthropology, psycho...",Django,Django,Somewhat less welcome now than last year,41.0,15,9
35635,I am a developer by profession,Yes,33.0,18,Weekly,7.000000e+04,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Information systems, information technology, o...",Angular;ASP.NET Core;jQuery;Laravel;React.js;V...,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery...,Just as welcome now as I felt last year,32.0,15,10
34732,I am a developer by profession,Yes,40.0,8,Weekly,4.000000e+05,2000000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,Mathematics or statistics,NaN,Angular.js,Just as welcome now as I felt last year,45.0,32,8
35767,I am a developer by profession,Yes,NaN,6,Monthly,2.150000e+05,2000000.0,United States,United States dollar,USD,...,NaN,NaN,NaN,"A social science (such as anthropology, psycho...",NaN,NaN,Just as welcome now as I felt last year,40.0,20,9
34610,I am a developer by profession,Yes,31.0,25,Weekly,9.300000e+04,2000000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"A humanities discipline (such as literature, h...",ASP.NET Core,ASP.NET Core,Somewhat more welcome now than last year,45.0,5,5

In [64]:
df.nsmallest(10,'ConvertedComp')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
35295,I am a developer by profession,Yes,NaN,13,Monthly,2.0,0.0,Afghanistan,Afghan afghani,AFN,...,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",NaN,jQuery,A lot less welcome now than last year,100.0,35,27
47357,I am a developer by profession,Yes,NaN,5,Weekly,1.0,0.0,Albania,Bhutanese ngultrum,BTN,...,NaN,NaN,NaN,NaN,Drupal,NaN,Somewhat less welcome now than last year,168.0,2,11
6054,I am a developer by profession,Yes,38.0,15,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Easy,Too long,No,NaN,NaN,Laravel,A lot less welcome now than last year,30.0,22,20
27135,I am a developer by profession,No,NaN,16,Yearly,0.0,0.0,Australia,Australian dollar,AUD,...,Neither easy nor difficult,Appropriate in length,No,"A humanities discipline (such as literature, h...",Angular.js;Django;jQuery;React.js;Vue.js,Django;jQuery;React.js,Just as welcome now as I felt last year,80.0,15,15
60292,I am a developer by profession,Yes,NaN,12,Yearly,0.0,0.0,Austria,European Euro,EUR,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,18,10
38813,I am a developer by profession,No,NaN,18,Monthly,0.0,0.0,Azerbaijan,Azerbaijan manat,AZN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,4,3
8470,I am a developer by profession,Yes,NaN,5,Monthly,30.0,0.0,Bangladesh,Bangladeshi taka,BDT,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;Gatsby;Laravel;React.js;Vue.js,Django;Express;Gatsby;Laravel;React.js;Vue.js,NaN,NaN,4,2
41006,I am a developer by profession,Yes,22.0,17,Yearly,0.0,0.0,Belgium,Pound sterling,GBP,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",NaN,Angular;ASP.NET Core;React.js;Spring,Just as welcome now as I felt last year,30.0,4,3
57369,I am a developer by profession,No,44.0,18,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Too long,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,5
15493,I am a developer by profession,No,44.0,17,Monthly,0.0,0.0,Brazil,Brazilian real,BRL,...,Easy,Appropriate in length,No,"A business discipline (such as accounting, fin...",React.js,React.js,Just as welcome now as I felt last year,60.0,10,4